<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Meeting<br>Place</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% listings.forEach(function(l) { %>
      <tr>
        
        <td><form action="/listings/<%= l.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form></td>
        <td><%= l.title %></td>
        <td><%= l.meetingPlace %></td>
        <td><a href="/listings/<%= l._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
